.carousel{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
     &_back, &_next{
        width: 50px;
        border: none;
        background-color: #e6e6e6;
        opacity: 0;
        transition: opacity 0.3s ease;
        &:hover{
            opacity: 1;
        }
    }
    &_content{
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }
    &_slide{
        opacity: 0;
        transform: translateX(100%);
        animation: slide 1s ease forwards;
    }
     &_back{
        left: 0;
    }
     &_next{
        right: 0;
    }
    &_slide_control{
        position: absolute;
        left: 50%;
        bottom: 10px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        &_item{
            height: 8px;
            width: 8px;
            border-radius: 50px;
            background-color: #46a35981;
        }
    }
    @keyframes slide {
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }
}