.footer{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    &_head{
        background-color: #46a35944;
        padding: 10px;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        &_logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 25%;
            margin: 10px;
            >h1{
                text-align: center;
                color: #46a358;
            }
        }
        &_block{
            width: 25%;
            >p {
                color: #3d3d3d;
            }
        }

    }
    &_main{
        display: flex;
        flex-direction: row;
        
        &_block{
            width: 25%;
            > h1, p{
                color: #3d3d3d;
            }
            &_media{
                display: flex;
                flex-direction: row;
                gap: 10px;
                > div {
                    height: 35px;
                    width: 35px;
                    border-radius: 6px;
                    border: 1px solid #e5e5e5;
                }
            }
        }

    }
}